.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;

  a {
    background: #f2f6f2;
    color: #000;
    display: block;
    padding: 1rem;
    text-decoration: none;
  }

  a:hover {
    background: #eaeaea;
  }

  h2 {
    margin-bottom: 0;
  }
  p {
    color: #666;
    font-size: 0.85rem;
    font-style: italic;
  }
}
