.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;

  a {
    background: rgb(57, 70, 123);
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: rgb(203, 225, 196);
  }

  a:hover {
    background: rgb(82, 94, 143);
  }

  h2 {
    margin-bottom: 0;
  }
  p {
    color: rgb(154, 151, 151);
    font-size: 0.85rem;
    font-style: italic;
  }
}
