.footer {
  margin-top: 3rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-right: 10rem;
  font-size: 0.9rem;
}

@media screen and (max-width: 600px) {
  .footer {
    margin-top: 20rem;
  }
}
