.header {
  padding: 1rem 0 1.5rem 1rem;
  margin-bottom: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.title {
  position: relative;
  font-size: 2rem;
  text-decoration: none;
  padding-bottom: 2rem;
  text-align: left;
  color: rgb(203, 225, 196);
}

.nav-item {
  position: relative;
  color: rgb(203, 199, 194);
  font-size: 0.9;
  margin-right: 1.4rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #666;
}

.active-nav-item {
  position: relative;
  color: rgb(174, 155, 139);
  font-weight: 700;
  text-decoration: underline;
}

.nav-list {
  position: relative;
  display: flex;
  list-style-type: none;
  margin: auto;
  line-height: 3rem;
  width: 60%;
  display: flex;
  justify-content: space-between;
}
