.container {
  margin: 0 auto;
  max-width: 90vw;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 100vh;

  background: rgb(39, 51, 101);
  color: rgb(203, 225, 196);
}

.top {
  flex-grow: 1;
}
.content {
  flex-grow: 0;
  padding-right: 5rem;
  max-width: 1100px;
  margin-bottom: 5rem;
}

@media screen and (max-width: 660px) {
  .container {
    flex-direction: column;
  }
}
